
input {
  background: red;
  padding: 20px;
}

.red-theme {
  --styled-input-checkbox-checkmark__border-color--after: red;
  --styled-input-checkbox-checkmark__border-color--checked-hover: red;
}

.blue-theme {
  --styled-input-checkbox-checkmark__border-color--after: blue;
  --styled-input-checkbox-checkmark__border-color--checked-hover: blue;
}

.green-theme {
  --styled-input-checkbox-checkmark__border-color--after: green;
  --styled-input-checkbox-checkmark__border-color--checked-hover: green;
}
